.navigation {
    align-self: center;
    margin:0px;
    padding-right:30px;
  }
.navigation ul li {
    display: inline;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
.navigation li:hover {
    box-shadow: 0px 0px 2px 2px white
  }
  
.navigation li:active {
    background-color: var(--secondary-text);
  }


.navigation ul li a {
  
    font-size: large;
    color: white;
    text-decoration-thickness: 2px;
  }

  #bttnContact {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .navigation {
      margin:5px;
    }
    #bttnContact {
      display: inline;
    }
  }