.nav {
    align-self: center;
    margin:0px;
    padding-right:30px;
  }
ul li {
    display: inline;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
ul li:hover {
    box-shadow: 0px 0px 2px 2px white
  }
  
ul li:active {
    background-color: var(--secondary-text);
  }
  
ul li a {
  
    font-size: large;
    color: white;
    text-decoration-thickness: 2px;
  }