.hero img {
    flex: 0 0 auto;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    border: var(--primary-dark) 2px solid;
    box-shadow: 0px 0px 2px 2px var(--primary-dark), 0px 0px 4px 4px var(--primary), 0px 0px 6px 8px var(--primary-light), 0px 0px 8px 12px var(--primary-text)
}

.hero figcaption {
    flex: 0 1 auto;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-family: "Papyrus";
    font-size: 30px;
    background-color: var(--secondary-light);
    border-style: double;
    border-color: #8b3939;
    color: rgb(238, 184, 113);
    transform: rotate(5deg);
}

@media screen and (max-width: 768px) {
    figcaption {
        transform: rotate(0deg);
    }
}