.card:first-child{ 
    flex:1 0 100%; 
  }
  
.card {
    flex: 0 1 45%;
    margin: 5px;
    position: relative;
    border:#8b3939 2px solid;
    color:white;
  }
  
  .card:hover, .card:hover figcaption{
    box-shadow: 0px 0px 2px 2px white
  }
  
  
  
  .card img {
    z-index: 1;
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  
  
  
  }
  .card figcaption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    background-color: var(--primary-extralight);
    padding: 10px;
    border: groove 1px var(--secondary-text);
  }
  .card figcaption p:first-child {
    font-weight: bold;
    font-size: large;
  }

  @media screen and (max-width: 768px) {

    .card figcaption {
        left: 0;
        bottom: 0;
    }
  }