  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
  }

  

  .card {
    display: flex;
    flex-direction: column;
    width: clamp(25rem, 48%, 50rem);
    overflow: hidden;
    box-shadow: 0 .5rem 5rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: radial-gradient(ellipse at bottom, var(--primary-light), var(--primary-dark));
    border: 2px solid var(--primary-dark);

  }

  .card:first-child {
    width: clamp(20rem, 100%, 100rem);
  }

  .card_body {
    color: var(--primary-text);
    background-color: var(--primary-dark-transparent);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 1;
  }

  .card_image{
    object-position: top;
    margin: 1%;
    width: 98%;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 1em;
  }
  .card_tags{
    margin: 5px 0px 5px 0px;
  }

  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }

  .tag+.tag {
    margin-left: .5em;
  }

  .MERN {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: var(--primary-text);
  }

  .HTML {
    background: #D1913C;
    background: linear-gradient(to bottom, #a07b4b, #805318);
    color: var(--primary-text);
  }
  .JS {
    background: #e099d7;
    background: linear-gradient(to bottom, #ef3a8e, #680552);
    color: var(--primary-text);
  }
  .REACT {
    background: #1b7945;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: var(--primary-text);
  }
  .CSS {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #570810);
    color: var(--primary-text);
  }

  .card_body h4 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary-text);
    -webkit-text-stroke: #5A6851 .5px;
  }
  .card_body_title{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card_nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content:space-around;
  }
  .card_nav .imgLink{
      margin: 1% 1% 1% 1%;
      background-color: var(--primary-extralight);
      height: 40px;
      padding: 5px;
      border-radius: 25%;
  }
  .card_nav .imgLink:hover{
    background-color: white;
}
  .imgLink img {
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .card:hover .card_body {
    background-color: var(--primary-dark);
  }

  .card:hover > * > .card_image {
    object-position: center;
    object-fit:contain;
  }
  
  @media screen and (max-width: 768px) {}