:root {
  --primary: rgb(59, 71, 59);
  --primary-dark:#161B16;
  --primary-dark-transparent: #161b1686;
  --primary-light:#5A6851;
  --primary-extralight:#87997b;
  --primary-text:#E9E4E9;
  --secondary: #69573c;
  --secondary-dark: #31291E;
  --secondary-light:#69573c88;
  --secondary-text:#8b3939;
}
* {
  margin:0;
  padding:0;
  outline: none;
  box-sizing: border-box;  
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family:Arial, Helvetica, sans-serif;;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

.portfolio {
  margin:0;
  padding:0;
  outline: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  min-height: 100%; 
}
body {
  min-height: 100%;
  line-height: 1;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}







