
.header {
  position:sticky;
  Top:0;
  background-color: var(--primary-dark);
  display:flex;
  justify-content: space-between;
  color:var(--primary-text);
  border-bottom: var(--primary-light) ridge;
  z-index: 5;
}
h1 {
  background-color: var(--primary-light);
  padding-left: 25px;
  padding-right: 10px;
  font-family: "Arial Black", Helvetica, sans-serif;
  color: white;
  -webkit-text-stroke: var(--secondary-text) 1px;
  margin: 0px;
}


@media screen and (max-width: 768px) {
  .header {
      flex-direction: column;
  }
}